:root {
    --roboto-font: 'Karla', sans-serif;
    --primary-color: #252839;
    --secondary-color: #b5b5b7;
    --highlights-color: #f2b632;
    --frames-color: #f1f8f5;
    --padding-button: 0.5vw;
    --padding-text: 0.5vw;
}

* {
    font-family: var(--roboto-font) !important;
    padding: 0;
    margin: 0;
}

html, body {
    box-sizing: border-box;
    font-family: var(--roboto-font);
}

main {
    height: 100%;;
    display: grid;
    grid-template-areas: "header header"
                         "sub-header sub-header"
                         "menu menu"
                         "settings simulator"
                         "settings simulator"
                         "footer footer";
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 0.3fr 0.5fr 0.3fr 2fr 2fr 0.4fr;
}

main header {
    display: grid;
    grid-template-areas: "share language";
    grid-template-rows: auto;
    grid-template-columns: auto;
    padding: 0.5vw;
    background: var(--primary-color);
    grid-area: header;
}

.button {
    padding: var(--padding-button);
    background: var(--highlights-color);
    color: var(--primary-color);
    border: none;
    text-transform: capitalize;
    transition: 0.7s all;
}

.button:hover {
    background: color(var(--highlights-color) tint(50%));
    cursor: pointer;
}

main header .share {
    display: grid;
    grid-template-areas: "share-link copy-button";
    grid-template-rows: 1fr;
    grid-template-columns: 0.9fr 0.1fr;
}

.input-default {
    padding: var(--padding-text);
    background: var(--frames-color);
    border: none;
    transition: 0.7s all;
    width: 100%;
    text-align: center;
    outline: none;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;  
}

.input-default:hover {
    background: #fff;
}

main header .share .share-link {
    grid-area: share-link;
    text-align: left !important;
}

main header .share .share-link:hover {
    background-color: #fff;
}

main header .share .copy-button {
    grid-area: copy-button;
}

main header .language {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

select {
    text-align: center;
    text-align-last: center;
}

option {
    text-align: left;
}

.selector {
    -moz-appearance: none;
    -webkit-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

.sub-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    grid-area: sub-header;
    background: var(--frames-color);
    color: var(--primary-color);
}

.sub-header h1 {
    font-size: 4rem;
}

.menu {
    grid-area: menu;
    background: var(--frames-color);
}

.menu .menu-list {
    display: grid;
    grid-template-areas: 
        "warrior-li paladin-li warlock-li cleric-li rifleman-li dual-li";
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    list-style-type: none;
    list-style: none;
}

.menu .menu-list .warrior-li {
    grid-area: warrior-li;
}


.menu .menu-list .paladin-li {
    grid-area: paladin-li;
}

.menu .menu-list .warlock-li {
    grid-area: warlock-li;
}

.menu .menu-list .cleric-li {
    grid-area: cleric-li;
}

.menu .menu-list .rifleman-li {
    grid-area: rifleman-li;
}

.menu .menu-list .dual-li {
    grid-area: dual-li;
}

.menu .menu-list li {
    text-align: center;

}

.menu .menu-list li a {
    display: block;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-color);
    transition: 0.7s all;
    padding: 1vh 0;
    font-size: 1.2rem;
}

.menu .menu-list li a:hover {
    color: var(--frames-color);
    background: color(var(--primary-color) tint(10%));
}

.menu .menu-list li a:active, a:focus {
    outline: none;
    border: none;
}

.settings {
    grid-area: settings;
    display: grid;
    grid-template-areas:
        "classes"
        "level"
        "extra-points"
        "cd-reduction"
        "points-left";
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    background: var(--primary-color);
    text-align: center;
    padding: 1vw 0;
}

.settings-title {
    color: var(--frames-color);
}

.classes {
    grid-area: classes;
    display: grid;
    grid-template-areas: 
        "classes-title"
        "classes-select";
}

.classes-title {
    grid-area: classes-title;
}

.classes-select {
    grid-area: classes-select;
}

.level {
    grid-area: level;
    display: grid;
    grid-template-areas:
        "level-title"
        "level-input";
}

.level .level-input {
    grid-area: level-input;
    background: var(--highlights-color);
}

.extra-points {
    grid-area: extra-points;
    display: grid;
    grid-template-areas:
        "extra-points-title"
        "extra-points-select";
}

.cd-reduction {
    grid-area: cd-reduction;
    display: grid;
    grid-template-areas:
        "cd-reduction-title"
        "cd-reduction-value";
}

.cd-reduction-title {
    grid-area: cd-reduction-title;
}

.cd-reduction-value {
    grid-area: cd-reduction-value;
    background: var(--highlights-color) !important;
}

.points-left {
    grid-area: points-left;
    display: grid;
    grid-template-areas:
        "points-left-title"
        "points-left-value";
}

.points-left-title {
    grid-area: points-left-title;
    color: var(--highlights-color);
}

.points-left-value {
    grid-area: points-left-value;
    color: var(--highlights-color);
}

.settings-cells-properties {
    grid-template-rows: 0.1fr 0.3fr;
    grid-template-columns: 1fr;
    grid-row-gap: 1vw;
}

.simulator {
    grid-area: simulator;
    display: grid;
    grid-template-areas:
        "tier1-title tier2-title tier3-title"
        "skill-tier1 skill-tier2 skill-tier3"
        "tier4-title tier5-title tier6-title"
        "skill-tier4 skill-tier5 skill-tier6";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.1fr 1fr;
    background: var(--frames-color);
    padding: 1vw 1vw;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    text-align: center;
}

.tier1-title {
    grid-area: tier1-title;
}
.tier2-title {
    grid-area: tier2-title;
}
.tier3-title {
    grid-area: tier3-title;
}
.tier4-title {
    grid-area: tier4-title;
}
.tier5-title {
    grid-area: tier5-title;
}
.tier6-title {
    grid-area: tier6-title;
}

.skill {
    display: grid;
    grid-template-areas: 
        "skill-image skill-name min-skill-level divider max-skill-level min-button minus-button plus-button max-button";
    grid-template-rows: 1fr;
    grid-template-columns: 0.2fr 0.2fr 0.1fr 0.1fr 0.1fr auto auto auto auto;
    justify-content: end;
    align-content: end;
    align-items: center;
    text-align: end;
}

.tier-title {
    grid-area: tier-title;
}

.min-button {
    grid-area: min-button;
    margin-left: 1vw;
}

.skill-tier1 {
    grid-area: skill-tier1;
}

.skill-tier2 {
    grid-area: skill-tier2;
}

.skill-tier3 {
    grid-area: skill-tier3;
}

.skill-tier4 {
    grid-area: skill-tier4;
}

.skill-tier5 {
    grid-area: skill-tier5;
}
.skill-tier6 {
    grid-area: skill-tier6;
}

.simulator .skills-list {
    list-style-type: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-image {
    display: block;
    width: 2vw;
    height: 2vw;
    margin-right: 0.5vw;
    margin: 0 auto;
}

footer {
    grid-area: footer;
    display: grid;
    grid-template-areas: "span";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-content: start;
    background: color(var(--primary-color) tint(10%));
    text-align: center;
    color: var(--frames-color);
    padding: 1.4vw 0;
}

footer span {
    grid-area: span;
}

@media screen and (min-width: 669px) {
    .skill {
        grid-template-areas:
        "skill-image skill-name min-skill-level divider max-skill-level"
        ". min-button minus-button plus-button max-button";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .skill-image {
        grid-area: skill-image;
    }

    .skill-name {
        grid-area: skill-name;
    }
    
    .min-skill-level {
        grid-area: min-skill-level;
    }

    .divider {
        grid-area: divider;
    }

    .max-skill-level {
        grid-area: max-skill-level;
    }

    .min-button {
        grid-area: min-button;
        margin-left: 0;
    }

    .minus-button {
        grid-area: minus-button;
    }

    .plus-button {
        grid-area: plus-button;
    }

    .max-button {
        grid-area: max-button;
    }

}

@media screen and (max-width: 580px) {
    .menu .menu-list {
        grid-template-areas: 
            "warrior-li"
            "paladin-li"
            "warlock-li"
            "cleric-li"
            "rifleman-li"
            "dual-li";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    main {
        grid-template-areas: "header header"
                             "sub-header sub-header"
                             "menu menu"
                             "settings settings"
                             "simulator simulator"
                             "footer footer";
        grid-template-columns: 0.1fr 1fr;
        grid-template-rows: 0.1fr 0.5fr 0.1fr 0.5fr 1fr 0.2fr;
    }



    .simulator {
        grid-template-areas:
            "skill-tier1"
            "skill-tier2"
            "skill-tier3"
            "skill-tier4"
            "skill-tier5"
            "skill-tier6";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
        font-size: 3vw;
    }

    .skill {
        grid-template-areas:
        "skill-image skill-name min-skill-level divider maxa-skill-level"
        "skill-image min-button minus-button plus-button max-button";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 0.1fr 0.5fr 0.5fr 0.5fr 0.5fr;
    }
    .skill-image {
        width: 35px;
        height: 35px;
    }

    input {
        padding: 2vw !important;
        
    }
}