$font-main: 'Roboto', sans-serif;
$gray-color: #dddddd;
$dark-color: #34323a;
$highlight-blue: #2aa3cc;
$str-color: #e71212;
$agi-color: #1fa51f;
$int-color: #1592bb;
$white-color: #f5f5f5;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.str-characters {
    border-color: $str-color !important;
}

.agi-characters {
    border-color: $agi-color !important;
}

.int-characters {
    border-color: $int-color !important;
}

body {
    background: $gray-color;

    footer {
        position: absolute;
        font-family: $font-main;
        bottom: 0;
        margin: 0;
        width: 100%;
        color: $white-color;
        padding: 10px;
        text-align: center;
        background: $highlight-blue;
    }
}

#char-selector {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .20fr .75fr;
    row-gap: 3vh;
    background: $gray-color;
    
    header {
        display: grid;
        justify-content: center;
        align-content: center;
        background: $dark-color;

        h1 {
            color: $highlight-blue;
            font-family: $font-main;
            letter-spacing: .2vw;
            font-size: 3rem;
        }
    }

    #characters {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
        grid-template-rows: 1fr;
        background: $gray-color;
        justify-content: space-evenly;

        img {
            display: block;
            box-shadow: -1px 0 0 rgba(0, 0, 0, 0.06);
            width: 100%;
            filter: grayscale(100%);
            transition: all .6s ease;
            border-bottom: solid 2vh;
        }

        img:hover {
            filter: grayscale(0%);
            cursor: pointer;
        }
    }
}
